@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

::-webkit-scrollbar{
    width:.6rem;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.136);
    border-radius: 1rem;
    margin-block:1rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.306);
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.193), rgba(0, 0, 0, 0.193));
}

*{
    margin: 0px; padding: 0px;
    box-sizing: border-box;
    font-family: 'Aboreto', cursive;
    transition: all ease 200ms;
    color: #F2A766;
}

#content{
    position: absolute;
    background-image: linear-gradient(0deg, #1A1826, #323859);
    width:100vw; height: 100vh;
    display: flex; flex-direction: column;
    background-size: cover;
    align-items: center;
    overflow: auto;
}
.header{
    margin-top: 0px;
    height: 10%; width: 100%;
    background-color: #1A1826;
    border-bottom: 1px solid #3084F2;
    display: flex;
}
.tab-container{
    margin-top: 15px;
    height: 5vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 2px;
}
button{
    height: 100%;
    width: 100px;
    background-color: #3084f22d;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    border-top-left-radius:0.3rem ;
    border-top-right-radius:0.3rem ;
    font-size: 17px;
}
button:hover{
    cursor: pointer;
    background-color: #323859;
    
}

button.active{
    background-color: #1A18265e;
    border-top-left-radius:1rem ;
    border-top-right-radius:1rem ;
    color:#85D982 ;
    backdrop-filter: blur(5px);
}

.details{
    height: 80vh;
    width: 100%;
}

[data-tab-content]{
    height: 100%; width: 60%;
    min-width: 400px;
    overflow: auto;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
    background-color: #1A18265e;
    margin: 0 auto;
    display: none;
    border-radius: .5rem;
    box-shadow: 0px 5px 4px 1px rgba(0, 0, 0, 0.228);
    backdrop-filter: blur(5px);
}
.active[data-tab-content]{
    display:block;
}

[src]{
    width: 50px;
    height: 60px;
    margin: 10px auto;
    opacity: 100%;
}

h1{
    margin-top: 20px;
    font-size: 50px;
}
h3{
    margin-top: 100px;
    font-size: 30px;
    color: #c2824a;
}
h6{
    margin-top: 50px;
    font-size: 20px;
}
h4{
    margin-top: 200px;
}

.details>.tab-content>div>img{
    margin-top: 20px;
    width: 500px; height: 400px;
    border-radius: 1rem;
}


#contact>a>img{
    margin-top: 200px;
    width:100px; height:100px;
}
